{% extends '@Admin/base.html.twig' %}

{% block body %}
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>User Edit</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#">Config option 1</a>
                                </li>
                                <li><a href="#">Config option 2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                    </div>
                    
                    <div class="ibox-content">
                        <div class="row">
                            <div class="row">
								<div class="col-lg-12">
									<div class="text-center center-version">
										{% if profil_photo is not empty %}
											<img class="img-circle m-b-md" src="{{profil_photo}}">
										{% endif %}
									</div>
								</div>
							</div>
							
                            {% include 'admin/muser/form.html.twig' with {'form' : edit_form, 'muser': muser} %}
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}


{% block js %}  
    <!-- Page-Level Scripts -->
    
    {% javascripts output='js/compiled/useredit.js' 
            '@FrontBundle/Resources/public/inspinia/js/plugins/iCheck/icheck.min.js' 
            '@FrontBundle/Resources/public/inspinia/js/plugins/sweetalert/sweetalert.min.js' 
            '@AdminBundle/Resources/public/js/admin/user/edit.js' 
            '@AdminBundle/Resources/public/js/admin/user/common.js' 
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    
    
    
{% endblock %}